/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2016, 9:22:23 PM
    Author     : Kofola
*/

#preferencesBg{
    -fx-background-image: url("struckaxiom.png");
    -fx-background-repeat: repeat;
}
#loadoutsBg{
    -fx-background-image: url("escheresque_ste.png");
    -fx-background-repeat: repeat;
}
#loadoutListsBg{//NOT USED ATM
     -fx-background-image: url("tweed.png");
    -fx-background-repeat: repeat;
}
#weaponMgrBg{
     -fx-background-image: url("gradient_squares.png");
    -fx-background-repeat: repeat;
}

#menuToggleButton{
    -fx-background-radius: 0;
    -fx-background-insets:0 0 0 0;
    -fx-border-width:1 0 1 0;
    -fx-border-color:#bdc3c7
}

